version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: nginx-prod
    ports:
      - "80:80"
    volumes:
      - ./data:/data:ro                # Your custom content directory
      - ./nginx.conf:/etc/nginx/nginx.conf:ro  # Your custom config
    restart: always
